.footer {
  margin: 0 auto 60px;
  max-width: 880px;
  min-height: 18px;
}

@media screen and (max-width: 635px) {
  .footer {
    margin: 0 0 36px;
    max-width: 635px;
    min-height: 14px;
  }
}

