.profile__avatar-data {
  border-radius: 100%;
  display: grid;
  grid-template-areas: "avatar";
  align-items: center;
  justify-items: center;
}

.profile__avatar-data:hover .profile__avatar {
  opacity: 0.2;
}

.profile__avatar-data:hover .profile__avatar-update-icon {
  display: block;
}
